<header>
  <span class="right">
    <div id="search">
        <%= form_tag search_results_path, :action => 'search_results', :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
    </div>
  </span>
  <h1>Winnipeg Furniture</h1>
</header>
<nav>
  <ul>
    <li><%= link_to 'Home', controller: 'homepage' %></li>
    <li><%= link_to 'Product', controller: 'products' %></li>
    <li><%= link_to 'Category', controller: 'categories' %></li>
    <li><%= link_to 'Filter', controller: 'filter' %></li>
    <li><%= link_to 'Contact', websiteinfo_1_path %></li>
    <li><%= link_to 'About', websiteinfo_2_path %></li>
  </ul>
</nav>
