<div class="content">
  <div class="box">
      <ul class="list">
          <li><%= image_tag("slide1.jpg", width: "900", class: "slide") %></li>
          <li><%= image_tag("slide2.jpg", width: "900", class: "slide") %></li>
          <li><%= image_tag("slide3.jpg", width: "900", class: "slide") %></li>
          <li><%= image_tag("slide1.jpg", width: "900", class: "slide") %></li>
      </ul>
      <div class="number">
          <a href="javascrpit:" class="number_1">1</a>
          <a href="javascript:" class="number_2">2</a>
          <a href="javascript:" class="number_3">3</a>
      </div>
  </div>
  <h3>Select Category</h3>
  <br>
  <div class="category">
    <%= link_to(image_tag("cate-frame.jpg", size: "250"), cate_frame_path) %>
    <%= link_to(image_tag("cate-sofa.jpg", size: "250"), cate_sofa_path) %>
    <%= link_to(image_tag("cate-chairs.jpg", size: "250"), cate_chairs_path) %>
    <%= link_to(image_tag("cate-tables.jpg", size: "250"), cate_tables_path) %>
    <%= link_to(image_tag("cate-mattress.jpg", size: "250"), cate_mattress_path) %>
  </div>
</div>
