<header>
  <span class="right">
    <label for="search">Search </label>
    <input id="search" type="text" />
  </span>
  <h1>Winnipeg Furniture</h1>
</header>
<nav>
  <ul>
    <li><%= link_to 'Home', controller: 'homepage' %></li>
    <li><%= link_to 'Product', controller: 'products' %></li>
    <li><%= link_to 'Category', controller: 'categories' %></li>
    <li><%= link_to 'Filter', controller: 'filter' %></li>
    <li><%= link_to 'Contact', websiteinfo_1_path %></li>
    <li><%= link_to 'About', websiteinfo_2_path %></li>
  </ul>
</nav>
