<div class="product">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Product Name:</strong>
    <%= product.name %>
  </p>
  
  <% if product.image.present? %>
    <p><%= image_tag product.image.medium.url %></p>
  <% end %>
  
  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>
  
  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>
  
  <p>
    <strong>Category:</strong>
    <%= product.category.name %>
  </p>
  
  <p>
    <strong>Price:</strong>
    <%= number_to_currency product.price %>
  </p>
  
  <%= link_to 'Add to cart', add_to_cart_path(product) %>
</div>