<div class="index">
  <h1>Listing products</h1>
  
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Picture</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Detail</th>
        <th>Category</th>
      </tr>
    </thead>
  
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product %></td>
          <td><%= image_tag product.image.medium.url %></td>
          <td><%= product.description %></td>
          <td><%= number_to_currency product.price %></td>
          <td><%= product.quantity %></td>
          <td><%= link_to 'Detail', product %></td>
          <td><%= product.category.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="paginate">
  <%= paginate @products %>
</div>
<br>

