<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <header>
      <div id="heading">
        <span class="right">
          <div id="search">
              <%= form_tag search_results_path, :action => 'search_results', :method => 'get' do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil %>
              <% end %>
          </div>
        </span>
      </div>
      <div id="mainheading">
        <p><%= image_tag("heading_image.jpg", :alt => "heading", width: 200, height: 100) %></p>
        
        <h1>Winnipeg Furniture</h1>
            <p></p>          <nav id="top">
            <ul>
              <li><%= link_to 'Home', controller: 'homepage' %></li>
              <li><%= link_to 'Product', controller: 'products' %></li>
              <li><%= link_to 'Category', controller: 'categories' %></li>
              <li><%= link_to 'Filter', controller: 'filter' %></li>
              <li><%= link_to 'Contact', websiteinfo_1_path %></li>
              <li><%= link_to 'About', websiteinfo_2_path %></li>
              <li><%= link_to 'Admin', admin_root_path %></li>
              <li><%= link_to 'Your Cart', controller: 'carts' %></li>
            </ul>
          </nav>
    </div>
  </header>
  
  
  
  <%= yield %>
  <footer>
    <nav id="bottom">
      <ul>
        <li><%= link_to 'Home', controller: 'homepage' %></li>
        <li><%= link_to 'Contact', websiteinfo_1_path %></li>
        <li><%= link_to 'About', websiteinfo_2_path %></li>
        <li><%= link_to 'Admin', admin_root_path %></li>
      </ul>
    </nav>
    <div id="social">
      <ul>
        <li>
          <%= link_to(image_tag("facebookicon.jpg"), "http://www.facebook.com") %>
        </li>
        <li>
          <%= link_to(image_tag("twittericon.jpg"), "http://www.twitter.com") %>
        </li>
        <li>
          <%= link_to(image_tag("youtubeicon.jpg"), "http://www.youtube.com") %>
        </li>
      </ul>
    </div>
  </footer>
</div>
</body>
</html>
